<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!-- <script src="static/js/application.js"></script> -->
    <script src="static/js/getmsrpcontent.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>MSRP Client</h1>
      <form method="post" action="/submit">
          <p>MSRP To-Path: <input type = "text" name = "msrp_to_path" /></p>
          <p>MSRP From-Path: <input type = "text" name = "msrp_from_path" /></p>
          <p>Text Msg: <input type = "text" name = "text_msg" /></p>
          <p><input type = "submit" /></p>
      </form>
  </div>
</div>

<div class="container" id="content">
    <div class="row">
        <p>MSRP message log:</p>
        <div id="log">
        </div> <!-- /#log -->
    </div>
</div>


</body>
</html>
